<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body class="py-12">

    <div class="flex flex-row justify-center gap-3 my-6">
        {{ range where (site.Pages.ByParam "price") "Params.type" "category" }}
            <a class="font-bold text-terracotta hover:text-secondary active:text-moss" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
    </div>

    <section id="asc" class="flex flex-col lg:flex-row lg:flex-wrap px-2 gap-12 items-center lg:px-44">

        {{ range where (site.Pages.ByParam "price") "Params.category" "cozinha" }}
            <div class="flex flex-col items-center gap-3 px-9 py-7 border-solid border-moss border font-poppins rounded-md">
                <img src="{{ .Params.image_url }}" class="w-1/2 lg:w-44">
                <h3 class="font-bold text-moss mt-10">{{ .Title }}</h3>
                <span class="text-moss">R${{ .Params.Price }}</span>
                <a href="{{ .Permalink  }}" class="text-moss mt-2">Detalhes</a>
                <button href="{{ .Params.checkout_url }}" type="button" class="mt-6 border-solid border-terracotta border py-2 px-3 rounded-2xl text-terracotta" >Presentear noivos</button>
            </div>
        {{ end }}
    </section>

    <section id="desc" class="flex flex-col lg:flex-row lg:flex-wrap px-2 gap-12 items-center lg:px-44">
        {{ range where (site.Pages.ByParam "price").Reverse "Params.category" "cozinha" }}
            <div class="flex flex-col items-center gap-3 px-9 py-7 border-solid border-moss border font-poppins rounded-md">
                <img src="{{ .Params.image_url }}" class="w-1/2 lg:w-44">
                <h3 class="font-bold text-moss mt-10">{{ .Title }}</h3>
                <span class="text-moss">R${{ .Params.Price }}</span>
                <a href="{{ .Permalink  }}" class="text-moss mt-2">Detalhes</a>
                <button href="{{ .Params.checkout_url }}" type="button" class="mt-6 border-solid border-terracotta border py-2 px-3 rounded-2xl text-terracotta" >Presentear noivos</button>
            </div>
        {{ end }}
    </section>

    <script src="/paramsSort.js"></script>
</body>
</html>